.border-dashed-top {
  border-top-style: dashed;
}

.border-dashed-bottom {
  border-bottom-style: dashed;
}

.list-group-item,
.list-group-item * {
  transition: all 0.3s ease;
}

.list-group-item:hover {
  background-color: #e6e7e9;
  border-color: #e6e7e9;
}

.list-group-item:hover h6 {
  transform: translate(calc(16% - 20px), 0);
  white-space: nowrap;
  overflow: hidden;
}

.list-group-item:hover div .col-2 {
  transform: translate(-505%, 0);
  text-overflow: clip;
  background-color: transparent;
}

.list-group-item:hover .my-2 .badge {
  opacity: 0;
}

.list-group-item:hover .badge-group {
  transform: translate(16%, -7px);
}

.week {
  display: none;
}

.week.active {
  display: block;
}

.live {
  background-color: rgb(250, 209, 209);
}

.current-day .card-title {
  background-color: white;
  color: var(--bs-secondary);
  border-radius: 17px;
}

.btn-style p {
  background-color: white;
  color: var(--bs-secondary);
  border-radius: 8px;
  transition: background ease 0.5s;
}

#Week1Btn,
#Week2Btn {
  width: 180px;
}
.copyCode {
  background-color: white;
  border-radius: 4px;
  padding-top: 1px;
  color: green;
  user-select: none;
  height: 23px !important;
}

ol > button {
  height: 100px;
}
